:root{
    --main-c:#0faf;
    --boder-r:.2rem;
}

/**Estilos Generales**/

html *{
    margin: 0;
    padding: 0;
    font-family: sans-serif, Tahoma, Geneva, Verdana;}

p{
    font-size: 18px;
}

a{
    text-decoration: none;
}

ul, li{
    list-style: none;
}

.wrap-cta{
    padding: 1.5rem 0;
}

.cta-a{
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: var(--main-c);
    padding: .5rem 1.5rem;
    border-radius: var(--boder-r);
}

h1{
    font-size: 2.8rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2.2rem;
}

.menu {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/** Header **/

.header-landing{
    display: flex;
    justify-content: center;
    background: #f2f2f2;
    padding: 0.25rem;
}

.logo-header{
    max-width: 35px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

/** Hero Section **/

.hero-section{
    height: 90vh;
    background: url(img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(106, 141, 163, 0.7);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
}

.wrap-hero-section{
    max-width: 600px;
    color: #fff;
    padding: 15%;
}

.wrap-hero-section h1 {
  margin-bottom: 2rem;
}

/** Hero Section Zapatos**/

.hero-section-zapatos{
    height: 90vh;
    background: url(img/background_zapatos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(106, 141, 163, 0.7);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
}

.wrap-hero-section-zapatos{
    max-width: 600px;
    color: #fff;
    padding: 15%;
}

.wrap-hero-section-zapatos h1 {
  margin-bottom: 2rem;
}

/** Hero Section Camisetas**/

.hero-section-camisetas{
    height: 90vh;
    background: url(img/background_camisetas.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(106, 141, 163, 0.7);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
}

.wrap-hero-section-camisetas{
    max-width: 600px;
    color: #fff;
    padding: 15%;
}

.wrap-hero-section-camisetas h1 {
  margin-bottom: 2rem;
}

/** Hero Section Pantalones**/

.hero-section-pantalones{
    height: 90vh;
    background: url(img/background_pantalones.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(106, 141, 163, 0.7);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
}

.wrap-hero-section-pantalones{
    max-width: 600px;
    color: #fff;
    padding: 15%;
}

.wrap-hero-section-pantalones h1 {
  margin-bottom: 2rem;
}

/** Hero Section Sudaderas**/

.hero-section-sudaderas{
    height: 90vh;
    background: url(img/background_sudaderas.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(106, 141, 163, 0.7);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
}

.wrap-hero-section-sudaderas{
    max-width: 600px;
    color: #fff;
    padding: 15%;
}

.wrap-hero-section-sudaderas h1 {
  margin-bottom: 2rem;
}

/** Hero Section Camperas**/

.hero-section-camperas{
    height: 90vh;
    background: url(img/background_camperas.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(106, 141, 163, 0.7);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
}

.wrap-hero-section-camperas{
    max-width: 600px;
    color: #fff;
    padding: 15%;
}

.wrap-hero-section-camperas h1 {
  margin-bottom: 2rem;
}

/** Hero Section Musculosas**/

.hero-section-musculosas{
    height: 90vh;
    background: url(img/background_musculosas.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(106, 141, 163, 0.7);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
}

.wrap-hero-section-musculosas{
    max-width: 600px;
    color: #fff;
    padding: 15%;
}

.wrap-hero-section-musculosas h1 {
  margin-bottom: 2rem;
}

/** Hero Section Conjuntos**/

.hero-section-conjuntos{
    height: 90vh;
    background: url(img/background_conjuntos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(106, 141, 163, 0.7);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
}

.wrap-hero-section-conjuntos{
    max-width: 600px;
    color: #fff;
    padding: 15%;
}

.wrap-hero-section-conjuntos h1 {
  margin-bottom: 2rem;
}

/** Hero Section Accesorios**/

.hero-section-accesorios{
    height: 90vh;
    background: url(img/background_accesorios.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(106, 141, 163, 0.7);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
}

.wrap-hero-section-accesorios{
    max-width: 600px;
    color: #fff;
    padding: 15%;
}

.wrap-hero-section-accesorios h1 {
  margin-bottom: 2rem;
}

/** Hero Section Shorts**/

.hero-section-shorts{
    height: 90vh;
    background: url(img/background_shorts.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(106, 141, 163, 0.7);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
}

.wrap-hero-section-shorts{
    max-width: 600px;
    color: #fff;
    padding: 15%;
}

.wrap-hero-section-shorts h1 {
  margin-bottom: 2rem;
}

.section{
    margin: 5rem 0;
}

.section h2{
    padding: 2rem 0;
}

.wrap-logos-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.logo-brand{
    width: 200px;
    padding: 1rem 2rem;
    filter: grayscale(1);
}



/** Wrap Title **/

.wrap-title-section{
    display: flex;
    justify-content: center;
    margin: 3rem 1rem;
}

/** Servicios Section **/

.wrap-servicios-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.wrap-servicios-section a{
    color: #000;
}

.item-servicios-section{
    padding: 1rem;
}

.item-servicios-section img{
    width: 280px;
    height: 360px;
    border-radius: 5%;
}

.item-servicios-section p{
    font-family: sans-serif, Arial;
    font-size: 20px;
}

/** Producto Section **/

.wrap-producto-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center
}

.wrap-producto-section a{
    color: #000;
}

.item-producto-section{
    padding: 1rem;
}

.item-producto-section img{
    width: 300px;
    height: 300px;
    border-radius: 5%;
}

.item-producto-section p{
    font-family: sans-serif, Arial;
    font-size: 20px;
}

/** Two Column Section **/

.wrap-two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
}

.wrap-img_two-column{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.wrap-img_two-column img {
    width: 90%;
    height: auto;
    border-radius: 5%;
}

.wrap-text-column h3{
    padding: 2rem 0;
}

.wrap-text-column p{
    padding-bottom: 1rem;
}

/** Form Section **/

section.two-column-section.form{
    background-color: #f2f2f2;
    padding: 3rem 0;
  }

.form input, .form textarea{
    display: flex;
    width: 100%;
    line-height: 1.75rem;
    border: 1px solid #fff;
    border-radius: var(--boder-r);
}

.form textarea{
    height: 200px;
}

input[type="submit"]{
    border: 0;
    display: inline;
    cursor: pointer;
}

.form img{
    width: 80%;
    height: auto;
    border-radius: 5%;
}

/** Footer **/

.footer-section{
    max-width: 1200px;
    margin: 0 auto;   
}

.menu_footer-section{
    padding: 1rem 0;
}

.wrap-social-logos ul, .wrap-menu-footer-section ul{
    display: flex;
    justify-content: center;
}

.social-logo{
    max-width: 75px;
    width: 100%;
    padding: 1rem;
}

.wrap-menu-footer-section ul li{
    font-size: 1.1rem;
    padding: 1.5rem;
}

.footer_creds{
    display: flex;
    justify-content: center;
}